h6 {
    font-size: 1.9rem;
}

h3, h4, h5, h6, p, ul {
    margin-bottom: 1rem;
}

div.mb-2 {
    margin-bottom: 2rem;
}
div.mb-25 {
    margin-bottom: 2.5rem;
}

body li {
    margin-bottom: 0;
}

.container {
    padding-bottom: 3em;
}
