{{ define "main" }}
<article class="markdown book-article">
    <h2 id="about-me">About me<a class=anchor href="#about-me">#</a></h2>
    <p>Hi, I&rsquo;m Blaine. I enjoy reading, building software, hiking, making music, and playing games.</p>
    <p>My wife and I, along with our two wonderful dogs, Willow and Piper, live in Salem, VA, USA in the beautiful Roanoke Valley of the <a href=https://en.wikipedia.org/wiki/Appalachian_Mountains target="_blank">Appalachian Mountains</a>. I work remotely as a <a href="/resume.html" target="_blank">software engineer</a>.</p>
    <p>I&rsquo;m a <a href="https://en.wikipedia.org/wiki/Progressivism_in_the_United_States" target="_blank">progressive democrat</a> and <a href="https://en.wikipedia.org/wiki/Secular_humanism" target="_blank">secular humanist</a>. I spend my freetime <a href="https://salemdemsva.com" target="_blank">working for progressive change in local government</a>.</p>
    <h2 id="latest-post">Latest post<a class=anchor href="#latest-post">#</a></h2>
    {{ range first 1 .Paginator.Pages }}
    <article class="markdown book-post">
        <h2>
            <a href="{{ .RelPermalink }}">{{ partial "docs/title.html" . }}</a>
        </h2>
        {{ partial "docs/post-meta" . }}
        <div class="book-post-content">
            {{- .Summary -}}
            {{ if .Truncated }}
            <a href="{{ .RelPermalink }}">...</a>
            {{ end }}
        </div>
    </article>
    {{ end }}

    {{ template "_internal/pagination.html" . }}
</article>
{{ end }}
